%ul.tabs
  %li#all
    %a.selected#all_tab all
  %div#streams
  %li
    %a#add_tab{ rel: '#new_stream_modal' } +
%div.clear
%div#logs_container
  %div#all_logs
    %table#messagesTable
      %thead
        %tr
          %th.dat_col Date
          %th.hos_col Host
          %th.sev_col Severity
          %th.fac_col Facility
          %th.msg_col Message
      %tbody
  %div#alerts_logs.logs_hidden
    %div.terms
    %div.term_adder
      %input(type: 'text', name: 'term_field')
      %a(href: '#') +
    %div.clear
    %table
      %thead
        %tr
          %th.dat_col Date
          %th.hos_col Host
          %th.sev_col Severity
          %th.fac_col Facility
          %th.msg_col Message
      %tbody
%div.apple_overlay.black#new_stream_modal
  %div#new_stream_form
    %div.error
    %h1 New Stream
    %label{ for: 'stream_name' } Stream name: 
    %input{ type: 'text', id: 'stream_name' }
    %input{ type: 'button', value: 'Create', id: 'create_stream' }
