body
{
	font: normal normal normal 13px/1.5 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
	background-color: #ddd;
}

div.coders
{
	margin: 0 auto;
	text-align: right;
	width: 960px;
	color: #333;
	font-size: 13px;
	text-shadow: #fff 1px 1px 0px;
	padding-right: 3px;
}

div.coders a
{
	color: #333;
	text-decoration: none;
}

div.coders a:hover
{
	color: #fd6512;
}

#PageContainer
{
	margin: 0 auto;
	width: 960px;
}

header
{
	background-color: #fd6512;
}

div#header_banner
{
	width: 960px;
	height: 80px;
}

div#header_banner h1
{
	font-size: 50px;
	margin-left: 15px;
	text-shadow: #7f3309 -1px -1px 0px;
	font-family: Helvetica, Arial, sans-serif;
	color: #fff;
}

div#content
{
	background-color: #fff;
	text-align: center;
	padding: 7px;
}

div#content a
{
	color: #269cc7;
	text-decoration: none;
	font-weight: bold;
}

div#content a:hover
{
	color: #28bf44;
}

div#content div#logs_container
{
	border: 1px solid #fd6512;
	padding: 7px;
	text-align: left;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

div#content div#logs_container div.logs_hidden
{
	display: none;
}

div#content div#logs_container div.terms
{
	float: left;
}

div#content div#logs_container div.terms:first-child
{
	margin-left: 0;
}

div#content div#logs_container div.terms div.term
{
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	padding: 3px 10px;
	color: #666;
	font-weight: bold;
	background-color: #e0e0e0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

div#content div#logs_container div.terms div a
{
	margin-left: 6px;
	color: #333;
	cursor: pointer;
}

div#content div#logs_container div.terms div a:hover
{
	color: #fd6512;
}

div#content div#logs_container div.term_adder
{
	float: right;
}

div#content div#logs_container div.term_adder input
{
	border: 1px solid #fd6512;
	height: 21px;
	width: 150px;
	margin-right: 7px;
}

div#content div#logs_container div.term_adder a
{
	float: right;
	padding: 3px 10px;
	color: #666;
	background-color: #e0e0e0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	cursor: pointer;
}

div#content div#logs_container div.term_adder a:hover
{
	background-color: #fd6512;
	color: #fff;
}

div#content table
{
	text-align: left;
	width: 100%;
	border-collapse: collapse;
}

div#content table
{
	margin-top: 20px;
}

div#content table#messagesTable
{
	margin-top: 0;
}

div#content table thead tr th.dat_col
{
	width: 110px;
}

div#content table thead tr th.msg_col
{
	width: 500px;
}

div#content table tbody tr.row:hover
{
	background-color: #f0f0f0;
	cursor: pointer;
}

div#content table tbody tr td.message div
{
	width: 500px;
}

div#content table tbody tr.message_expanded
{
	background-color: #fde6d9;
}

div#new_stream_form
{
	margin: 0 auto;
	text-align: center;
	padding: 28px;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

div#new_stream_form h1
{
	font-size: 1.6em;
}

div#new_stream_form label
{
	color: #ccc;
	font-weight: bold;
	margin-right: 7px;
	font-size: 1.0em;
}

div#new_stream_form input[type="button"]
{
	margin-left: 28px;
}

div.error
{
	background-color: #fee;
	border: 1px solid #f00;
	color: #f00;
	font-weight: bold;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display: none;
	margin-bottom: 7px;
}

.hideextra
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.showextra
{
	white-space: normal;
	overflow: visible;
}

.hidden
{
	display: none;
}

.clear
{
	clear: both;
}

.shadow
{
	-moz-box-shadow: 0px 0px 10px #333;
	-webkit-box-shadow: 0px 0px 10px #333;
	box-shadow: 0 0 10px #333;
}
